*{
	margin: 0;
	padding: 0;
}
body{
	background-color:white ;
	font-family:"Times New Roman", Times, serif ;
}
.container{
	max-width: 1000px;
	background-color: #dff4f8;
	margin: 0 auto;
	padding: 20px;

}
header{

}
.profile-img{
	width: 100px;
	height: 120px;
	border: 3px solid white;
	border-radius: 50%;
	float: left;
}
.header-bio{
	float: left;
	padding: 30px;

}
h1,h2,h3,h4{
color: darkblue;
}
h5,h6{
	color: black;
}
.header-contact{
	float: right;
	padding: 30px;
}
.header-contact a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.header-contact a:hover{
	text-decoration: underline;
	color: tomato;

}
.div-clear{
	clear: both;
}
hr{
	border: solid black 3px;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;
}

/*------------------
Personal Information
------------------*/
#personal-section{

}
.content{
	margin-bottom: 30px;
}
.left-div{
	width: 30%;
	float: left;
}
.right-div{
	width: 70%;
	float: left;
}
.common-hr{
	border: solid black 1px;
	border-bottom: none;
	width: 100%;
	margin: 20 auto;	
}
.ul-space{
	padding-left: 30px;

}
/*------------------
Education Information
------------------*/

.edu-left{  
	float: left;
	width: 45%;
}
.edu-mid{
	float: right;
	width: 45%;
}
.edu-right{
	float: left;
	width: 35%;
	padding-left: 30%;
}
.edu-left a{  
	text-decoration: none;
	color: black;
}
.edu-left a:hover{  
	text-decoration: underline;
	color: tomato;
}
.edu-mid{
	text-decoration: none;
	color: black;
}
.edu-mid a:hover{
	text-decoration: underline;
	color: tomato;
}

/*------------------
footer
------------------*/
.bottom-container{
	background-color: black;
	text-align: center;
	padding: 10px;
}
.bottom-container a{
	color: white;
	text-decoration: none;
	margin: 20px;
}
.bottom-container a:hover{
	color: skyblue;
	text-decoration: underline;
}
.bottom-container p{
	color: white;
	margin-top: 20px;
}